.project-list li {
    margin: 20px 0;
    color: white;
}


.project-list li a {
    margin: 20px 0;
    color: white;
}

.project-list li a:visited {
    color: white;
}


.project-list li a:hover {
    color: orange;
}