body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    color: gray;
}




/* Layout */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: black;
    overflow: auto;
    text-align: center;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: gray;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color:orange;
    color: white;
  }

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

@media (min-width: 992px) {
    .container {
        width: 970px;
     }
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Home section */
#home {
    background-color: black;
    color: orange;
    width: auto;
    padding-left: 20px;
}
#home-img {
    grid-column: span 6;
    text-align: center;
}
#home-img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#home-about {
    grid-column: span 6;
    text-align: center;
    padding-top: 50px;
}


#home-intro {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;

}
#home-intro a:link{
    color: orange;
}
#home-intro a:visited{
    color: orange;
}



@media (max-width: 768px) {
    #home-img {
      grid-column: span 12;
      text-align: center;
    }
    #home-img img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
    #home-about {
    	grid-column: span 12;
        padding-top: 20px;
        text-align: center;
    }
    h1 {
        font-size: 40px;
    	font-weight: normal;
    }
    h2 {
        font-size: 20px;
        font-weight: normal;
    }
}
h1 {
    font-size: 40px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
#home-icon {
    text-align: center;
}
#home-icon a:link{
    color: white;
}
#home-icon a:hover{
    color:orange;
}
#home-icon a:visited{
    color: white;
}
#home-icon i {
    width: 50px;
    height: 50px;
}
#home-desc {
    margin-top: 20px;
    text-align: justify;
    grid-column: span 12;
}



hr {
   color:orange; 

}


/* Resume section */
#resume {
    padding-top: 30px;
    padding-right: 30px;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    width: auto;
    height: auto;

}

#resume a:link{
    color: orange;
}

#resume-img {
    grid-column: span 4;
}

#resume-intro p {
    text-align: left;
}

#resume .resume-timeline {
    max-width: 980px;
    margin-top: 30px;
}
#resume .timeline-wrap {
	position: relative;
	margin-top: 1rem;
	margin-bottom: 6rem;
}
#resume .timeline-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 35%;
	top: 0;
}
#resume .timeline-block {
	position: relative;
	padding-top: 1.0rem;
}
#resume .timeline-ico {
	height: 3.2rem;
	width: 3.2rem;
	line-height: 3.2rem;
	background: #313131;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
    left: 35%;
    top: 1.6rem;
	margin-left: -1.6rem;
}
#resume .timeline-header {
	float: left;
	width: 30%;
	padding-right: 90px;
    text-align: right;
    
}
#resume .timeline-header h3 {
    margin-bottom: 0;
    background-color: orange;
    border-radius: 10px;
    padding: 5px; 

    
}
#resume .timeline-content {
	margin-left: 35%;
	padding-left: 60px;
}

#resume .timeline-content a:visited{
    color: orange;
}

#resume .timeline-content h4 {
    position: relative;
}
.vote {
    background-color: rgba(255, 166, 0, 0.274);
    border-radius: 10px;
    padding: 2px; 
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
}

.vote .votetext {
    visibility: hidden;
    width: fit-content;
    background-color:orange;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    bottom: 50%;
    left: 52.25%; 
    padding: 2px; 

    /* Position the tooltip text - see examples below! */
    position: absolute;
  }


.vote:hover .votetext {
    visibility: visible;
  }
  

@media only screen and (max-width:768px) {
    #resume-img {
        grid-column: span 12;
    }
    #resume-intro {
        grid-column: span 12;
    }
	#resume .timeline-wrap::before {
		left: 1.8rem;
	}
	#resume .timeline-ico {
		height: 1.8rem;
		width: 1.8rem;
		line-height: 1.8rem;
		left: 1.8rem;
		margin-left: -0.8rem;
        font-size: 1rem;
	}
	#resume .timeline-header {
		float: none;
		width: auto;
		padding-right: 15px;
        text-align: left;
        padding-left: 4rem;
	}
	#resume .timeline-header h3 {
		font-size: 1.2rem;
	}
	#resume .timeline-header p {
		font-size: 1rem;
	}
	#resume .timeline-content {
        margin: 0;
        font-size: 1rem;
        padding-left: 4rem;
	}
	#resume .timeline-content h4 {
		padding-bottom: 0;
		font-size: 1rem;
	}
}


