@import "./colors.less";
@section-margin :100px;
@date-margin :100px;

customSection {
  background: white; /*sets the background of this element (here a solid colour)*/
  color: black;
  width: 70%;
   height: 200px;

}



#section-title i {
  float: left;
  margin-right: 10px;
  margin-left: @section-margin;

}

#section-title span{
  font-size: 30px;
  
}


#section-title hr{
 color: @dark;
 }

 #section-title.left hr{
  width: 750px;
  margin-bottom: 20px;
 color: @dark;
 }

 #section-title.right hr{
  width: 750px;
  margin-bottom: 20px;
  margin-right: 350px;
 color: @dark;
 }
 
 

#education-entry date{
  margin-left: @date-margin;

}

#education-entry a{
color: @dark;
}
#education-entry a:visited{
  color: @dark;
  }


#education-entry workplace{
  margin-left: @date-margin;

}


#education-entry bold{
  font-weight: bold;
}

#education-entry bold{
  margin-left: @section-margin;
}


#education-entry ul{
  list-style-type: '';
}

#education-entry.left ul{
  margin-left: 400px;

}

#education-entry.right ul{
  margin-left: 100px;

}



#education-entry li::before {
  content: "○";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:@dark; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}