@import "./highlights.less";
@import "./section.less";
@import "./colors.less";




container {
  display: block;
  background: white; /*sets the background of this element (here a solid colour)*/
  color: white;
  font-family: sans-serif;
}


#header-title{
  width:75%;
  text-align: left;
  float: left;
}

#header-image img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 2%;
  margin-left: -4%;
}



headline {
  display: block;
  width: 1170px;
  height: 200px;
  background: @dark; /*sets the background of this element (here a solid colour)*/
  padding-left: 30px; /*sets 'padding'*/
  color: white;
  font-size: x-large;
  border-bottom-right-radius: 5%;

}