---
layout: default
title: News
description: NICOLO' BRANDIZZI - recent news
image: /assets/images/2.jpg
page_id: news
---
<section class="projects container pt-2 lg:pt-9 mb-12">
    <h1 class="font-bold text-5xl">{{page.title}}</h1>
    <div class="news">
        <div class="grid justify-center sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4	">
            {% assign sorted = site.news | sort: 'date' | reverse %}
                {% for post in sorted %}
                {% include news_card.html %}
                {% endfor %}
            </div>
    </div>
</section>
