---
layout: default
title: News
---


<body>

    <div class="main">

        {% include page_title.html %}


        <!------------  Start------------>
        <section class="project section_padding ">
            <div class="container">
                <div class="work">
                    <div class="item" data-fx="5" style="padding-left: 4vw;">                    
                        {% assign sorted = site.hobbies | sort: 'date' | reverse %}
                        {% for post in sorted %}
                        {% include hobby_lay.html %}
                        {% endfor %}
                    </div>
                    
                   
                </div>
        </section>




    </div>

    <script src="assets/js/myrup.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="assets/js/charming.min.js"></script>
    <script src="assets/js/jquery.min.v3.1.1.js"></script>
    <script src="assets/js/gsap.min.js"></script>
    <link href="assets/css/martine.css" rel="stylesheet">

</body>