---
layout: default
title: About me
---


<body>

    <div class="main">

        {% include page_title.html %}

        <!------------  Start------------>
        <section class="project section_padding ">
            <div class="container">
                Here you can find some stories about myself regarding some of my interests and hobbies. I wrote them mainly for my self since I find this practice cathartic, plus it gives me some prospective on my life.
                <div class="work">
                    <ol class="item gradient-list"  data-fx="5" style="padding-left: 4vw;">       
                                     
                        {% assign sorted = site.hobbies | sort: 'date' | reverse %}
                        {% for post in sorted %}
                        {% include hobby_lay.html %}
                        {% endfor %}
                    </ol>
                    
                   
                </div>
        </section>




    </div>

    <script src="assets/js/myrup.js"></script>
    <script src="assets/js/gsap.min.js"></script>

</body>