---
layout: default
title: My Certificates
---

<script src="assets/js/certificates.js"></script>

<body>

  <div class="main">

    {% include page_title.html %}


    <section class="certificate">
      <br>
      <div class="instructions">
        <h3>Scroll Down to display more</h3>
      </div>


      {% assign ongoing = site.certificates | where: 'end_date', 'Ongoing' %}
      {% assign not_ongoing = site.certificates | where_exp: 'certificate', 'certificate.end_date != "Ongoing"'
      %}

      {% assign ongoing_sorted = ongoing | sort: 'start_date' | reverse %}
      {% assign not_ongoing_sorted = not_ongoing | sort: 'end_date' | reverse %}

      {% assign sorted = ongoing_sorted | concat: not_ongoing_sorted %}

      <div class="container">
        <div class="row">
          <!-- Add a new column for the TOC -->
          <div class="col-lg-4">
            <div class="toc">
              <h3>Table of Contents</h3>
              <ul>
                {% for certificate in sorted %}
                <li><a href="#{{ certificate.id }}" onclick="scrollToCertificate(event, '{{ certificate.id }}')">{{
                    certificate.title }} at {{ certificate.organization }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <!-- End of TOC column -->

          <!-- Update this column size to fit the new layout -->
          <div class="col-lg-8">

            <div class="ag-timeline">
              <div class="ag-timeline_line">
                <div class="ag-timeline_line-progress"></div>
              </div>


              {% for certificate in sorted %}
              {% include certificate_lay.html %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>