---
layout: default
title: My Certificates
---

<script src="assets/js/certificates.js"></script>

<body>

  <div class="main">

    {% include page_title.html %}

    <section class="certificate">
      <br>
      <div class="instructions">
        <h3>Scroll Down to display more</h3>
      </div>
      
      <div class="container">
        <div class="row">
          <div class="col-lg-12">


            <div class="ag-timeline">
              <div class="ag-timeline_line">
                <div class="ag-timeline_line-progress"></div>
              </div>
              {% assign sorted = site.certificates | sort: 'end_date' | reverse %}

              {% assign ongoing = sorted | where: 'end_date', 'Ongoing' %}
              {% assign not_ongoing = sorted | where_exp: 'certificate', 'certificate.end_date != "Ongoing"' %}

              {% assign ongoing_sorted = ongoing | sort: 'start_date'  %}

              {% assign sorted = ongoing_sorted | concat: not_ongoing %}

              {% for certificate in sorted %}
                {% include certificate_lay.html %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>