// _mixins.scss

@mixin respond-to($media) {
  @if $media == "small" {
    @media (max-width: 767.5px) { @content; }
  } @else if $media == "medium" {
    @media (min-width: 768px) { @content; }
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
