// _mixins.scss

@mixin respond-to($media) {
  @if $media == "small" {
    @media (max-width: #{$bp-md - 0.5px}) { @content; }
  } @else if $media == "medium" {
    @media (min-width: $bp-md) { @content; }
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
