<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PDD5X4W');</script>
  <!-- End Google Tag Manager -->

  {% seo %}
  <link rel="stylesheet" href="{{ " /assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ " /assets/css/styles.css" | relative_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}/site.webmanifest">
  {%- if page.style -%}
  <link rel="stylesheet" href="{{page.style | relative_url}}">
  {%- endif -%}
</head>