        <!------------ page_title Start------------>
        <section class="page_title section_padding cover_bg overlay">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div >
                            <h2>{{ page.title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!------------ page_title End------------>