
/*==============================================================================================
                                              Base css
================================================================================================*/


/*****************************
******* Hero area Start *******
*****************************/

.hero_area {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
}

.intro {
    color: $white-color;
}

.intro h1 {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.intro h2 {
    font-size: 24px;
    font-weight: 300;
}


.intro ul {
    margin-top: 30px;
    margin-bottom: 30px;
}

.intro ul li {
    display: inline-block;
}

.intro ul li a {
    color: $white-color;
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 1px solid $white-color;
    border-radius: 0px;
    line-height: 50px;
    font-size: 24px;
    margin: 6px;
    transition: .3s;
}

.intro ul li a:hover {
    background-color: $light-color;
    border-color: $light-color;
    color: $base-color;
}

.intro p {
    max-width: 355px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
}

.intro p a {
    color: $light-color;
    display: inline-block;
    font-weight: 500;
}

.profile_img img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    transition: .5s;
}

.profile_img img:hover {
    transform: scale(1.08);
}



/*****************************
******* section_1 Start *******
*****************************/

.section_1 {
    background-color: $base-color;
    color: $white-color;
    border-top: 1px solid $darker-color;
}

.single_deg {
    margin-bottom: 30px;
}

.single_deg h2 {
    margin-bottom: 10px;
    background-color: $light-color;
    font-size: 24px;
    padding: 10px 15px;
    color: $base-color;
    font-weight: 500;
    text-transform: uppercase;
}

.single_deg ul {
    margin-bottom: 30px;
}

.single_deg ul li {
    display: inline-block;
    width: 49.5%;
}

.single_deg ul li p {
    text-align: right;
    font-style: italic;
    font-weight: 300;
}

.single_deg img {
    max-width: 125px;
}

.deg_info {}

.deg_info h3 {
    color: $light-color;
    font-size: 22px;
    font-weight: 400;
}

.deg_info p {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
}

.deg_info p svg {
    color: $light-color;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}

.vote p a {
    display: inline-block;
    color: $light-color;
}

.vote {
    color: currentColor;
    display: inline-block;
    /*  pointer-events: none;
  text-decoration: none;*/
    background-color: $darker-color;
    color: $white-color !important;
    position: relative;
    padding: 2px 6px;
    border-radius: 15px;
    z-index: 2;
}

.vote span {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0px;
    background-color: $light-color;
    color: $base-color;
    padding: 2px 8px;
    border-radius: 15px;
    transition: .3s;
    min-width: 81px;
    text-align: center;
    display: inline-block;
}

.vote:hover span {
    opacity: 1;
    top: -30px;
}


/*****************************
******* footer Start *******
*****************************/
.footer {
    background-color: $darkest-color;
    color: $white-color;
    padding: 10px 0;
    bottom: 0;
    position: absolute;
    width: 100%;
}

/*publications page*/

.publications_hero {
    background-color: $base-color;
    min-height: 100vh;
}



/*cv*/
.cv_section {
    background-color: $base-color;
}

.download_cv {
    display: inline-block;
    background-color: $darker-color;
    color: $white-color;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border: 3px solid $darker-color;
    transition: .5s;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 40px;
}

.download_cv:hover {
    background-color: transparent;
    border-color: $white-color;
    color: $white-color;
}


.cv_pdf {
    width:100%;
    height: 1000px;

}
.bright_doc {
    width:100%;
    height: 1000px;

    }


