/*==============================================================================================
                                              Base css
================================================================================================*/


/*****************************
******* Hero area Start *******
*****************************/

.hero_area {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
}

.intro {
    color: $white-color;


    h1 {
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 24px;
        font-weight: 300;
    }


    ul {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    ul li {
        display: inline-block;
    }

    ul li a {
        color: $white-color;
        height: 50px;
        width: 50px;
        display: inline-block;
        border: 1px solid $white-color;
        border-radius: 0px;
        line-height: 50px;
        font-size: 24px;
        margin: 6px;
        transition: .3s;
    }

    ul li a:hover {
        background-color: $light-color;
        border-color: $light-color;
        color: $base-color;
    }

    p {
        max-width: 355px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: 300;
    }

    p a {
        color: $light-color;
        display: inline-block;
        font-weight: 500;
    }
}

.profile_img img {
    height: 280px;
    width: 280px;
    border-radius: 50%;
    transition: .5s;
}

.profile_img img:hover {
    transform: scale(1.08);
}

.quote {
    font-size: 2rem; /* Increase the font size */
    font-style: italic; /* Apply italic style */
    color: white; /* Set the text color to white */
    margin-top: 1rem; /* Add some margin to separate the quote from the text above */
    position: relative; /* Set the position property to relative */
    display: inline-block; /* Set the display property to inline-block */
    transition: all 0.3s ease-in-out; /* Add a smooth transition effect for transformations and color changes */
  }
  
  .quote:hover {
    transform: scale(1.3); /* Scale up the quote slightly on hover */
    color: $light-color; /* Change the text color on hover */
  }
  
  .quote:before,
  .quote:after {
    content: '“'; /* Add opening quotation marks */
    font-size: 2.5rem; /* Set the font size for quotation marks */
    position: absolute; /* Set the position property to absolute */
    top: -0.35em; /* Move the quotation marks to the top of the quote */
    margin-left: -0.35em; /* Add some space before the opening quotation mark */
    margin-right: -0.35em;

  }
  
  .quote:after {
    content: '”'; /* Add closing quotation marks */
    right: 0; /* Position the closing quotation marks at the end of the quote */

  }

/*****************************
******* section_1 Start *******
*****************************/

.section_1 {
    background-color: $base-color;
    color: $white-color;
    border-top: 1px solid $darker-color;
}

.single_deg {
    margin-bottom: 30px;

    h2 {
        margin-bottom: 10px;
        background-color: $light-color;
        font-size: 24px;
        padding: 10px 15px;
        color: $base-color;
        font-weight: 500;
        text-transform: uppercase;
    }

    ul {
        margin-bottom: 30px;
    }

    ul li {
        display: inline-block;
        width: 49.5%;
    }

    ul li p {
        text-align: right;
        font-style: italic;
        font-weight: 300;
    }

    img {
        max-width: 125px;
    }

    a {
        color: $light-color;
        /* Remove the underline */
        transition: color 0.3s ease-in-out;
    }

    a:hover {
        color: $darker-color;
        /* Change the link color on hover */
    }
}

.deg_info {

 h3 {
    color: $light-color;
    font-size: 22px;
    font-weight: 400;
}

 p {
    padding-left: 30px;
    position: relative;
    margin-bottom: 15px;
}

 p svg {
    color: $light-color;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
}
}




.vote {
    color: currentColor;
    display: inline-block;
    /*  pointer-events: none;
  text-decoration: none;*/
    background-color: $darker-color;
    color: $white-color  !important;
    position: relative;
    padding: 2px 6px;
    border-radius: 15px;
    z-index: 2;


 p a {
    display: inline-block;
    color: $light-color;
}

 span {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0px;
    background-color: $light-color;
    color: $base-color;
    padding: 2px 8px;
    border-radius: 15px;
    transition: .3s;
    min-width: 81px;
    text-align: center;
    display: inline-block;
}

.vote:hover span {
    opacity: 1;
    top: -30px;
}
}


/*****************************
******* footer Start *******
*****************************/
.footer {
    background-color: $darkest-color;
    color: $white-color;
    padding: 5px 0;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}


/*cv*/
.cv_section {
    background-color: $base-color;
}

.download_cv {
    display: inline-block;
    background-color: $darker-color;
    color: $white-color;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border: 3px solid $darker-color;
    transition: .5s;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 40px;
}

.download_cv:hover {
    background-color: transparent;
    border-color: $white-color;
    color: $white-color;
}


.cv_pdf {
    width: 100%;
    height: 900px;

}

.bright_doc {
    width: 100%;
    height: 1000px;

}