span.undefined {
    color: $bt-legend-color;

  }
  
  .bibtable {
    width: 100%;
    margin: 0 auto;
    clear: both;

  }
  
  .bibchart {
    width: 100%;
    height: 120px;
    margin-bottom: 20px;

  }
  
  .clear {
    clear: both;

  }
  
  .year {
    position: relative;
    border-bottom: 1px solid #f97f4f;
    display: inline-block;
  }
  
  .yearlabel {
    position: absolute;
    bottom: -40px;
    text-align: center;
    width: 100%;
    font-size: small;
    -webkit-transform: rotate(-90deg);
    color: $bt-legend-color;

  
    //Chrome, Safari
    -moz-transform: rotate(-90deg);
  
    //Firefox
    -o-transform: rotate(-90deg);
  
    //Opera
    -ms-transform: rotate(-90deg);
  
    //IE
    transform: rotate(-90deg);
  
    //браузеры без префексов
  }
  
  .pub {
    border: 1px solid #fbfbfb;
    background-color: #3598db;

  }
  
  .inproceedings {
    background-color: $bt-inproceedings;
  }
  
  .misc {
    background-color: $bt-misc;
  }
  
  .conference {
    background-color:$bt-conference ;
  }
  
  .article {
    background-color: $bt-article ;
  }
  
  .inbook {
    background-color: $bt-inbook;
  }
  
  .book {
    background-color: $bt-inbook;
  }
  
  .phdthesis {
    background-color: $bt-thesis;
  }
  
  .unpublished {
    background-color:$bt-unpublished ;
  }
  
  .mastersthesis {
    background-color:$bt-thesis;
  }
  
  .techreport {
    background-color: $bt-techreport;
  }
  
  .legend {
    .pub {
      width: 10px;
      height: 10px;
      display: inline-block;
      margin: 0 5px 0 15px;
    }
  
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
    width: 100%;
    color: $bt-legend-color;
  }
  
  table.display {
      color: $bt-grid-text;
    thead th {
      padding: 3px 18px 3px 10px;
      font-weight: bold;
      cursor: pointer;
      cursor: hand;
      color: $bt-legend-color;
    }
  
    tfoot th {
      padding: 3px 10px;
      font-weight: bold;
    }
  
    td {
      padding: 3px 10px;
  
      &.center {
        text-align: center;
      }
    }
  }
  
  .sorting_asc {
    background: url('../images/bibtext/sort_asc.png') no-repeat center right;
    background-size: 15px;

  }
  
  .sorting_desc {
    background: url('../images/bibtext/sort_desc.png') no-repeat center right;
    background-size: 15px;

  }
  
  .sorting {
    background: url('../images/bibtext/sort_both.png') no-repeat center right;
  }
  
  .sorting_asc_disabled {
    background: url('../images/bibtext/sort_asc_disabled.png') no-repeat center right;
  }
  
  .sorting_desc_disabled {
    background: url('../images/bibtext/sort_desc_disabled.png') no-repeat center right;
  }
  
  tr {
    &.odd {
      background-color: $bt-row-odd;
    }
  
    &.even {
      background-color: $bt-row-even;
    }
  }
  
  div {
    &.hidden {
      display: none;
    }
  
    &.bibinfo {
      width: 80%;
      position: fixed;
      top: 100px;
      left: 10%;
      background-color: #f6f6f6;
      border: 3px solid #7f7f7f;
      padding: 0 10px 10px 10px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -o-border-radius: 10px;
      border-radius: 10px;
      z-index: 50;
    }
  }
  
  #shutter {
    background-color: #e6e6fa;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

  }
  
  a.bibclose {
    border: 3px solid #7f7f7f;
    float: right;
    font-size: 20px;
    height: 20px;
    left: 26px;
    line-height: 5px;
    padding: 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: -15px;
    width: 20px;
    border-bottom-color: inherit !important;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
  }
  
  div.bibinfo pre {
    clear: both;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  
    code {
      background: rgba(238, 237, 237, 0.075);
    }
  }
  .dataTables_filter {
    color: $bt-legend-color;

  }
  .dataTables_info {
    color: $bt-legend-color;

  }
  .dataTables_wrapper {
    margin-bottom: 20px;

  }
  
  a {
    &.bibclose {
      background: transparent url('../images/bibtext/close.png') no-repeat;
      display: inline-block;
      background-size: 12px;
      height: 21px;
      width: 21px;
  
      &:hover {
        background-position: 0 -16px;
      }
    }
  
    &.bibtexify-link-tweet {
      background: transparent url('../images/bibtext/twitter.png') no-repeat;
      display: inline-block;
      background-size: 12px;
      height: 16px;
      width: 16px;
  
      &:hover {
        background-position: 0 -16px;
      }
    }
  
    &.bibtexify-link-online {
      background: transparent url('../images/bibtext/online.png') no-repeat;
      display: inline-block;
      background-size: 20px;
      height: 16px;
      width: 16px;
  
      &:hover {
        -webkit-filter: invert(100%) ;
        filter: invert(100%);
        transition: .2s ease-in-out;
      }
    }
  
    &.bibtexify-link-pdf {
      background: transparent url('../images/bibtext/pdf.png') no-repeat;
      display: inline-block;
      height: 16px;
      width: 16px;
      background-size: 12px;

      &:hover {
        -webkit-filter: invert(100%) ;
        filter: invert(100%);
        transition: .2s ease-in-out;
      }
    }
  
    &.bibtexify-link-bibtex {
      background: transparent url('../images/bibtext/bibtex.png') no-repeat;
      display: inline-block;
      background-size: 12px;
      width: 15px;
      height: 15px;

      &:hover {
        -webkit-filter: invert(100%) ;
        filter: invert(100%);
        transition: .2s ease-in-out;
      }
    }
  }