
/*****************************
******* Header Start *******
*****************************/
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    border-bottom: 1px solid $darker-color;
}

.main_menu {}

.main_menu ul {}

.main_menu ul li {
    display: inline-block;
}

.main_menu ul li a {
    color: $white-color;
    text-transform: uppercase;
    display: inline-block;
    padding: 7px 10px;
    position: relative;
    transition: .3s;
}

.main_menu ul li.active a{
    color: $light-color;

}
.main_menu ul li a:hover {
    color: $darker-color;
}

.main_menu ul li a:after {
    position: absolute;
    content: "";
    height: 1px;
    width: calc(100% - 20px);
    background-color: $light-color;
    left: 10px;
    bottom: -11px;
    transition: .3s;
    opacity: 0;
}

.main_menu ul li.active a:after,
.main_menu ul li a:hover:after {
    opacity: 1;
}



/*mobile menu*/
.menu_off_btn,
.menu_on_btn {
    display: none;
}
 