
.work {
  position: relative;
  padding-top: 5vw;
  font-size: 5vw;
  font-weight: 500;
  line-height: 5vw;

  .item {
    position: relative;
    margin-bottom: 5vw;
  }

  a {
    display: inline-block;
    max-width: 37vw;
    opacity: 1;
    overflow: hidden;

    span {
      position: relative;
      display: block;
      background-color: transparent;
      color: $bt-conference;
      padding-left: 8px;
      padding-right: 8px;
      transition: color 1s cubic-bezier(0.16, 1, 0.3, 1);
      -webkit-transition: color 1s cubic-bezier(0.16, 1, 0.3, 1);
      -moz-transition: color 1s cubic-bezier(0.16, 1, 0.3, 1);
    }

    &:hover span {
      color: gray;
      font-style: italic;
    }
  }
}

@media only screen and (max-width: 1023px) {
  .work {
    font-size: 6vw;
    line-height: 6vw;

    .item {
      position: relative;
      margin-bottom: 5vw;
    }

    a {
      max-width: 50vw;
    }
  }
}

/* image reveal */

.hover-reveal {
  position: fixed;
  width: 55vw;
  height: 55vh;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
}

.hover-reveal__inner, .hover-reveal__img {
  width: 100%;
  height: 100%;
  position: relative;
}

.hover-reveal__deco {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}

.hover-reveal__img {
  background-size: cover;
  background-position: 50% 50%;
}
