
/*Project page*/

/*project_s_1*/

.card-header {
    padding: 0;
    background-color: #201F1D;
}

.current_projects {
    margin-bottom: 50px;
}

.project_s_1 .card-link {
    color: #fff;
    display: block;
    padding: 10px 15px;
}

.project_s_1 .card-body p {
    margin-bottom: 15px;
}

.project_s_1 .card-body img {
    /*max-width: 200px;*/
}

.project_s_1 .card-body h3 {
    font-weight: 500;
    font-size: 22px;
}

.card_title {
    font-weight: 500;
    font-size: 26px;
    color: #f7984f;
}

.get_code {
    display: inline-block;
    background-color: #f7984f;
    color: #201F1D;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 4px;
    transition: .4s;
    margin-top: 15px;
}


.get_code:hover {
    background-color: #201F1D;
    color: #fff;
}
