
/*Project page*/

/*project*/

.card-header {
    padding: 0;
    background-color: $darker-color;
}
.card-title{

    font-weight: bold;
    font-size: 20px;
    margin-bottom: -10px;

}


.card-tag{
    border-radius: 30%;
    background-color: $darkest-color;
    color: white;
    padding: 3px;
}

.current_projects {
    margin-bottom: 50px;
}

.project{
    background-color: $base-color;
    height: 100%;
    overflow-y: auto;

}

.project .card-link {
    color: $white-color;
    display: block;
    padding: 10px 15px;
    text-align: center;
}


.card-body  {
    background-color: $darkest-color;
    color: white;

}

.project .card-body a {
    color: $light-color;
}


.project .card-body p {
    margin-bottom: 15px;

}

.project .card-body img {
    /*max-width: 200px;*/
}

.project .card-body h3 {
    font-weight: 500;
    font-size: 22px;
}

.card_title {
    font-weight: 500;
    font-size: 26px;
    color: $light-color;
}

.project .card-body .get_code {
    display: inline-block;
    background-color: $light-color;
    color: $base-color;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 4px;
    transition: .4s;
    margin-top: 15px;
}


.project .card-body .get_code:hover {
    background-color: $base-color;
    color: $white-color;
}

