
/*Project page*/

/*project_s_1*/

.card-header {
    padding: 0;
    background-color: $darker-color;
}
.card-title{

    font-weight: bold;
    font-size: 20px;
    margin-bottom: -10px;

}


.card-tag{
    border-radius: 10%;
    border-width: 100px;
    background-color: $darkest-color;
    color: white;
}

.current_projects {
    margin-bottom: 50px;
}

.project_s_1{
    background-color: $base-color;
    height: 1000px
}

.project_s_1 .card-link {
    color: $white-color;
    display: block;
    padding: 10px 15px;
    text-align: center;
}


.project_s_1 .card-body  {
    background-color: $darkest-color;
    color: white;

}


.project_s_1 .card-body p {
    margin-bottom: 15px;

}

.project_s_1 .card-body img {
    /*max-width: 200px;*/
}

.project_s_1 .card-body h3 {
    font-weight: 500;
    font-size: 22px;
}

.card_title {
    font-weight: 500;
    font-size: 26px;
    color: $light-color;
}

.get_code {
    display: inline-block;
    background-color: $light-color;
    color: $base-color;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 4px;
    transition: .4s;
    margin-top: 15px;
}


.get_code:hover {
    background-color: $base-color;
    color: $white-color;
}
