// _publications.scss
.bibtable {
  margin-top: 40px;
  margin-bottom: 40px;
}

.bibtable thead {
  background-color: #cdcdff;
}

.bibtable thead th {
  padding: 20px 10px;
}

@media (min-width: 768px) {
  .bibtable thead th {
    padding: 20px 20px;
  }
}

.bibtable td {
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .bibtable td {
    padding: 10px 16px;
  }
}

.bibtable .odd {
  background: #fff;
}

.bibtable .even {
  background: #eef;
}

.dataTables_wrapper {
  overflow-x: auto;
}

.dark .bibtable {
  min-width: 100%;
}

.dark .bibtable thead {
  background-color: #323241;
}

.dark .bibtable .odd {
  background: #383056da;
}

.dark .bibtable .even {
  background: #323241;
}

.dark .bibtexify-link-online {
  background-image: url("/assets/images/svg/link-45deg-white.svg");
}

.dark .bibtexify-link-pdf {
  background-image: url("/assets/images/svg/file-earmark-pdf-fill.svg");
}

.dark .bibtexify-link-bibtex.biblink {
  background-image: url("/assets/images/svg/code-slash-white.svg");
}

.dark .bibclose {
  background-image: url("/assets/images/svg/x-white.svg");
}

.dark .dataTables_filter input {
  background: #557;
  border: 1px solid #77a;
}

.dataTables_filter {
  display: grid;
  gap: 10px;
  margin-top: 30px;
}

.dataTables_filter input {
  max-width: 600px;
  padding: 5px 10px;
  border: 1px solid #dde;
  outline-color: transparent !important;
  border-radius: 4px;
}

.bibclose,
.bibtexify-link-bibtex.biblink,
.bibtexify-link-online {
  display: inline-block;
  margin-left: 16px;
  transform: translateY(7px);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bibtexify-link-online {
  background-image: url("/assets/images/svg/link-45deg.svg");
}

.bibtexify-link-pdf {
  display: inline-block;
  margin-left: 16px;
  transform: translateY(7px);
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: cover;
}

.bibtexify-link-pdf {
  background-image: url("/assets/images/svg/file-earmark-pdf.svg");
}

.bibtexify-link-bibtex.biblink {
  background-image: url("/assets/images/svg/code-slash.svg");
}

.bibclose {
  background-image: url("/assets/images/svg/x.svg");
}

.publications #pubTablepubchart .pub {
  height: 22px;
}

.publications .pub {
  border: 1px solid #fbfbfb;
  background-color: #1674d2;
}

.publications .pub.workshop {
  background-color: #d27416;
}

.publications .pub.article {
  background-color: #1674d2;
}

.publications .pub.conference {
  background-color: #1bbc9b;
}

.publications .pub.preprint {
  background-color: #8b6914;
}

.publications .pub.phdthesis {
  background-color: #b813de;
}

.publications .inproceedings {
  background-color: #1bbc9b;
}

.publications .misc {
  background-color: #8b6914;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.publications .year {
  flex: 1 0 20%;
  max-width: 20%;
  box-sizing: border-box;
}

.publications .year {
  position: relative;
  border-bottom: 1px solid #f97f4f;
  display: inline-block;
}

.publications .yearlabel {
  margin: 6px 0;
  text-align: center;
}

.publications .legend {
  margin-top: 8px;
  text-align: center;
}

.publications .legend .pub {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 0 5px 0 15px;
}

.publications .hidden {
  display: none;
}

.bibinfo.open {
  z-index: 20;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 220, 0.9);
}

.bibinfo.open .bibclose {
  z-index: 30;
  position: absolute;
  top: 40px;
  left: 40px;
}

.bibinfo.open pre {
  overflow-x: auto;
  padding: 20px;
  background-color: #fff;
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dark .bibinfo.open {
  background-color: rgba(20, 20, 30, 0.9);
}

.dark .bibinfo.open pre {
  background-color: #334;
}
