// _mode-switch.scss
.mode-switch {
  padding-left: 0;
  min-height: 1.6rem;
  align-content: center;
  justify-content: center;
  display: grid;
}

.mode-switch .form-check-input {
  cursor: pointer;
  height: 1.5rem;
  width: 2.875em;
  background-color: #f97316;
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(249, 115, 22, 0.65);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2.875em;
  transition: background-position 0.15s ease-in-out;
  appearance: none;
  position: relative;
  margin: 0;
}

.mode-switch .form-check-label {
  display: none;
  transition: color 0.15s ease-in-out;
  font-size: 1rem;
  line-height: 1;
}

.mode-switch .form-check-label:first-of-type {
  text-align: right;
}

.dark .form-check-input:not(:checked):not(.is-invalid):not(:invalid) {
  border-color: rgba(255, 255, 255, 0.5);
}

.dark .mode-switch .form-check-input {
  background-color: #facc15;
  background-image: url("/assets/images/svg/moon.svg");
  background-position: right center;
}

.dark .mode-switch .form-check-label:first-of-type {
  color: #fff;
}

.dark .mode-switch .form-check-input:checked ~ .form-check-label:first-of-type {
  color: rgba(255, 255, 255, 0.6);
}

.dark .mode-switch .form-check-input:checked ~ .form-check-label:last-of-type {
  color: #fff;
}

@media (min-width: 600px) {
  .mode-switch {
    grid-template-columns: 1fr auto 1fr;
    gap: 5px;
    align-items: center;
  }
  .mode-switch .form-check-label {
    display: inline-block;
  }
}
