---
---
.education {
    h2,
    h3,
    h4 {
      line-height: 1.2;
    }
  
    h4 {
      font-size: 24px;
    }
  
    ul {
      margin-top: 30px;
      padding-left: 30px;
      list-style-image: url({{site.baseurl}}/assets/images/svg/check2-circle.svg);
    }
  }
  
  .dark .education ul {
    list-style-image: url({{site.baseurl}}/assets/images/svg/check2-circle-light.svg);
  }