

@media (min-width: 992px) {
    .container {
        width: 970px;
     }
}
.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* Home section */
#home {
    background-color: black;
    color: orange;
    width: auto;
    padding-left: 20px;
}
#home-img {
    grid-column: span 6;
    text-align: center;
}
#home-img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#home-about {
    grid-column: span 6;
    text-align: center;
    padding-top: 50px;
}


#home-intro {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;

}
#home-intro a:link{
    color: orange;
}
#home-intro a:visited{
    color: orange;
}



@media (max-width: 768px) {
    #home-img {
      grid-column: span 12;
      text-align: center;
    }
    #home-img img {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
    #home-about {
    	grid-column: span 12;
        padding-top: 20px;
        text-align: center;
    }
    h1 {
        font-size: 40px;
    	font-weight: normal;
    }
    h2 {
        font-size: 20px;
        font-weight: normal;
    }
}
h1 {
    font-size: 40px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    margin: 0;
}
#home-icon {
    text-align: center;
}
#home-icon a:link{
    color: white;
}
#home-icon a:hover{
    color:orange;
}
#home-icon a:visited{
    color: white;
}
#home-icon i {
    width: 50px;
    height: 50px;
}
#home-desc {
    margin-top: 20px;
    text-align: justify;
    grid-column: span 12;
}


