<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
{%- include head.html -%}
{%- include header.html -%}

<body class="bg-blue-50 text-black dark:bg-blue-950 dark:text-blue-50 pt-24">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W2MPFHELZG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W2MPFHELZG');
</script>

  {{ content }}
</body>
{%- include footer.html -%}

</html>