---
layout: default
---

<main class="news-post min-h-[80vh] flex flex-col gap-6">
  <section class="pt-24">
    <div class="container pb-6">
      <h1 class="text-5xl font-bold">
        {{page.title}}
      </h1>
      <b>{{page.tag}}</b>
      <p class="text-sm mb-3">{{page.date | date: "%b %d, %Y" }}</p>

      {%- if page.image -%}
      <div class="post-image">
        <img src="{{page.image}}" alt="hero image">
      </div>
      {%- endif -%}

      <div class="page_content">
          {{ content }}
      </div>

      {% if page.button_name %}
      <div class="text-right mt-4">
        <a href="{{page.button_link}}" target="_blank" rel="noopener noreferrer" class="capitalize bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          {{page.button_name}}
        </a>
      </div>
      {% endif %}
    </div>
  </section>
  <div class="prev_next flex gap-8 justify-center flex-wrap mb-12 mt-auto pt-6 border-t clear-both">
    {%- if page.previous -%}
      <a href="{{page.previous.url}}" class="block w-fit py-3 px-6 border shadow-md hover:shadow-lg">← {{page.previous.title}}</a>
    {%- endif -%}
    {%- if page.next -%}
      <a href="{{page.next.url}}" class="block w-fit py-3 px-6 border shadow-md hover:shadow-lg">{{page.next.title}} →</a>
    {%- endif -%}
  </div>
</main>
{%- include zoom.html -%}
