<section class="section_1 section_padding" id="section_1">
    <div class="container">
        <!-- Section Title -->
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="section_title  ">
                    <h2>Recent Activity <i class="fas fa-code-branch"></i></h2>
                </div>
            </div>
        </div>
        <!-- Section Title -->
        
    </div>

      <div class="slide-body">

        {% include home/slide_container.html %}

      </div>

   

     

</section>
