<section class="section_1 section_padding" id="section_1">
    <div class="container">
        <!-- Section Title -->
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="section_title  ">
                    <h2>Education <i class="fas fa-graduation-cap"></i></h2>
                </div>
            </div>
        </div>
        <!-- Section Title -->
        <div class="row">
            <!-- single_deg -->
            <div class="col-lg-6 ">
                <div class="single_deg">
                    <h2>Doctor of Philosophy</h2>
                    <ul>
                        <li><img src="assets/images/sapienza_logo.png" alt="sapienza"></li>
                        <li>
                            <p>2020 - Ongoing</p>
                        </li>
                    </ul>
                    <div class="deg_info">
                        <h3>PhD at Sapienza University of Rome</h3>
                        <p><i class="far fa-hand-point-right"></i> Working under the supervision of Prof. <a
                                href="https://sites.google.com/a/dis.uniroma1.it/iocchi/home">Luca Iocchi</a> and
                            researching the role of communication in Reinforcement Learning in the <a
                                href="http://labrococo.dis.uniroma1.it/">RoCoCo Lab</a>.</p>
                        <p><i class="far fa-hand-point-right"></i> Completed a 5 month scientific visiting period at
                            Amsterdam university under the supervision of Prof. <a
                                href="https://staff.fnwi.uva.nl/r.fernandezrovira/">Raquel Fernández</a>
                            at the <a href="https://www.illc.uva.nl/">ILLC</a>.</p>
                    </div>
                </div>
            </div>
            <!-- single_deg -->
            <!-- single_deg -->
            <div class="col-lg-6 ">
                <div class="single_deg">
                    <h2>Master's Degree</h2>
                    <ul>
                        <li><img src="assets/images/sapienza_logo.png" alt="sapienza"></li>
                        <li>
                            <p>2017 - 2020</p>
                        </li>
                    </ul>
                    <div class="deg_info">
                        <h3>Master of Engineering in Artificial Intelligence and Robotics</h3>
                        <p><i class="far fa-hand-point-right"></i> Graduated with <a class="vote" href="#">110/110
                                Magna cum laude <span>GPA : 4.0</span></a> with my thesis titled <a
                                href="https://github.com/nicofirst1/rl_werewolf/blob/master/Resources/thesis.pdf">
                                "Reinforcement Lupus: Cooperation through emergent communication in The Werewolf
                                social deduction game"</a></p>
                        <p><i class="far fa-hand-point-right"></i> Completed a 10 months Erasmus in the <a
                                href="https://www.rug.nl/">University Of Groningen</a>, Netherlands</p>
                    </div>
                </div>
            </div>
            <!-- single_deg -->
            <!-- single_deg -->
            <div class="col-lg-6 ">
                <div class="single_deg">
                    <h2>Bachelor's Degree</h2>
                    <ul>
                        <li><img src="assets/images/sapienza_logo.png" alt="sapienza"></li>
                        <li>
                            <p>2014 - 2017</p>
                        </li>
                    </ul>
                    <div class="deg_info">
                        <h3>Bachelor of Computer and System Engineering with a track in Autonomous Systems</h3>
                        <p><i class="far fa-hand-point-right"></i> Graduated with <a class="vote" href="#">101/110
                                <span>GPA : 2.97</span></a> with my thesis titled "Comparison Between Segmentation
                            Methods".</p>
                        <p><i class="far fa-hand-point-right"></i> Worked under the supervision of <a
                                href="https://scholar.google.it/citations?user=q5Ew3cEAAAAJ&hl=it">Luigi Freda</a>
                            on the <a href="http://www.tradr-project.eu/">TRADR European Project</a> in the <a
                                href="http://www.diag.uniroma1.it/alcor/index.php?q=node/5614">ALCOR Lab</a></p>
                    </div>
                </div>
            </div>
            <!-- single_deg -->
        </div>
    </div>
</section>