<section class="education py-9 bg-sky-50 dark:bg-sky-950">
    <div class="mx-auto">
        <h2 class="text-center text-3xl font-bold	 ">
            {{include.title}}
        </h2>
        <div class="education_grid flex flex-wrap justify-center gap-7 p-6 pt-5">
            {%- assign ed = site[include.data] | sort: 'order' | reverse -%}
            {%- for i in ed -%}
                <div class="education_item w-full md:w-5/12 2xl:w-3/12 mb-7 p-4 border rounded-xl border-slate-300 dark:border-slate-700 shadow-lg shadow-slate-300 dark:shadow-slate-700">
                    <h3 class="font-semibold text-2xl">
                        {{i.title}}
                    </h3>
                    <div class="heading flex gap-4 items-center justify-start mb-3">
                        <img src="{{i.image | relative_url}}" alt="{{i.title}}" loading="lazy" class="heading_image p-4 shadow-sm shadow-blue-50 rounded w-1/2 ">
                        <span class="text-sm grid gap-8">{{i.period}}</span>
                    </div>
                    <div class="text-md">{{i.content | markdownify}}</div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>