<section class="hero_section relative pt-9 bg-transparent shadow-md">
    <div class="hero_bg absolute top-0 left-0 right-0 opacity-20">
        <img src="{{site.baseurl}}/assets/images/background.png" alt="hero-bg" >
    </div>

    <div class="container z-10 mx-auto grid md:grid-cols-2 ">
        <div class="hero_text flex flex-col pb-9 justify-center items-center gap-5 text-center">
            <h1 class="text-5xl md:text-6xl text-blue-950 dark:text-blue-50 font-black">{{page.title}}</h1>
            <h2 class="text-4xl">{{page.subtitle}}</h2>
            <div class="description">
                {{page.description | markdownify}}
            </div>
            <div class="social flex gap-5 justify-center my-8">
                {%- for s in site.data.social -%}
                    <a href="{{s.link}}" class="social_item w-8 h-8" target="_blank">
                        {%- include {{s.icon}} -%}
                    </a>
                {%- endfor -%}
            </div>
        </div>
        <div class="hero_image grid items-center justify-center mb-9 lg:mb-14">
            <img src="{{page.image | relative_url}}" alt="{{page.title}}" class="rounded-full  w-8/12 block mx-auto">
        </div>
    </div>
</section>