<section class="hero_area d-flex align-items-center cover_bg overlay fix" id="hero_area">
    <div class="container">
        <div class="row justify-content-center text-center align-items-center">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="profile_img ">
                    <img src="assets/images/profile_picture.jpg" alt="Nicolo' Brandizzi">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 ">
                <div class="intro ">
                    <h1>Nicolo' Brandizzi</h1>
                    <h2>Computer Science Engineer</h2>
                    <ul>
                        <li><a href="https://github.com/nicofirst1"><i class="fab fa-github-square"></i></a></li>
                        <li><a href="https://twitter.com/dizzibus"><i class="fab fa-twitter-square"></i></a></li>
                    </ul>
                    <p>PhD student researching</p>
                    <p>Reinforcement Learning and Language (NLP) at Sapienza University at <a
                            href="https://www.dis.uniroma1.it/en">DIAG</a>.</p>
                    <p class="quote">Follow the Gradient</p>
                </div>
            </div>
        </div>
    </div>

</section>