<!-- / A set of walkthrough screens in HTML/CSS/JS. A personal experiment with layering images, CSS3 transitions, & flexbox. -->
<button class='open-walkthrough'>Start</button>
<div class='walkthrough show reveal'>
  <div class='walkthrough-pagination'>
    {% assign sorted = site.projects | concat: site.news | sort: 'date' | reverse | slice : 0,5 %}
    <a class='dot active'></a>
    {% for i in (1..4) %}

    <a class='dot'></a>

    {% endfor %}

  </div>
  <div class='walkthrough-body'>
    <ul class='screens animate'>
      {% for post in sorted %}

      <li class='screen active'>
        <div class='media logo'>
          <a href="{{post.url}}">
            <img class='logo' src={{post.image}}>
          </div>
          </a>
        <h3>
          {{post.title}}
        </h3>
        <p>{{post.subtitle}}</p>
      </li>
      {% endfor %}
   
     

    </ul>
    <button class='prev-screen'>
      <i class='icon-angle-left'></i>
    </button>
    <button class='next-screen'>
      <i class='icon-angle-right'></i>
    </button>
  </div>

</div>
