// _typography.scss
h1, h2, h3, h4, h5, h6 {
  line-height: $lh-tight;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 { font-size: $fs-3xl; }
h2 { font-size: $fs-2xl; }
h3 { font-size: $fs-xl; }
h4 { font-size: $fs-lg; }
h5 { font-size: 1.125rem; }
h6 { font-size: $fs-base; }

p {
  margin-bottom: $sp-4;
}

li {
  margin-bottom: $sp-4;
}

@media (min-width: $bp-md) {
  h1 { font-size: 2.85rem; }
  h2 { font-size: 2.35rem; }
  h3 { font-size: 1.95rem; }
  h4 { font-size: 1.6rem; }
  h5 { font-size: 1.35rem; }
  h6 { font-size: 1.2rem; }
}
