// _typography.scss
h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 { font-size: 36px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h4 { font-size: 24px; }
h6 { font-size: 20px; }

p {
  margin-bottom: 16px;
}

li {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  h1 { font-size: 48px; }
  h2 { font-size: 40px; }
  h3 { font-size: 36px; }
  h4 { font-size: 30px; }
  h6 { font-size: 22px; }
}
